@model Tactsoft.Core.Entities.AttachmentType

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Attachment Type Delete </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-8">
                        <dl class="row">
                            <dt class="col-md-3">
                                @Html.DisplayNameFor(model => model.AttachmentTypeName)
                            </dt>
                            <dd class="col-md-9">
                                @Html.DisplayFor(model => model.AttachmentTypeName)
                            </dd>

                        </dl>
                        <div class="col-md-12">
                            <p style="color:red; font-size:24px; text-align:center">
                                Are You Sure You Want To Delete This
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end">

                                <a class="btn btn-outline-danger btn-sm mr-2" asp-action="Index">
                                    <i class="far fa-window-close"></i> Cancel
                                </a>
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <button type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                                        <i class="fa-regular fa-pen-to-square"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
