@model Tactsoft.Core.Entities.Attachment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Create Attachment Information</h3>
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <label asp-for="EmployeeId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                                            <option value="">Select Employee</option>
                                        </select>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="AttachmentTyppeId" class=" col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="AttachmentTyppeId" class="form-control" asp-items="ViewBag.AttachmentTyppeId">
                                            <option value="">Select Attachment Type</option>
                                        </select>
                                        <span asp-validation-for="AttachmentTyppeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="AttachmentFile" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input type="file" asp-for="AttachmentFile" class="form-control" name="DocumentFile"  />
                                        <span asp-validation-for="AttachmentFile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div style="text-align:end">
                                        <a class="btn btn-outline-danger btn-sm" asp-action="Index">
                                            <i class="far fa-window-close"></i> Back to list
                                        </a>
                                        <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                                            <i class="fa-solid fa-rotate"></i> Create
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
