<aside class="main-sidebar sidebar-light-primary elevation-1">

    <a href="index3.html" class="brand-link">
        <img src="~/photo.jpg" alt="Tactsoft Logo" class="brand-image img-circle elevation-1" style="opacity: .1">
        <span class="brand-text font-weight-light">Tactsoft</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Employee" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Employee</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FamilyMember" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Family Member</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Attachment" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Attachment</p>
                    </a>
                </li>
                
               
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ServiceInfo" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Service</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Attandance" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Attendance</p>
                    </a>
                </li>
               

                <li  class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-globe nav-icon"></i>
                        <p>
                            Basic Info
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="margin-left:20px;">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Country" asp-action="Index">
                                <p> Country</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="State" asp-action="Index">
                                <p> State</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="City" asp-action="Index">
                                <p>City</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ZipCode" asp-action="Index">
                                <p>ZipCode</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="BloodGroup" asp-action="Index">
                                <p>Bloor Group</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="MaritialStatus" asp-action="Index">
                                <p>Maritial Status</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Gender" asp-action="Index">
                                <p>Gender</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Religion" asp-action="Index">
                                <p>Religion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Degree" asp-action="Index">
                                <p>Degree</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="EducationGroup" asp-action="Index">
                                <p>Education Group</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Education" asp-action="Index">
                                <p>Education</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Department" asp-action="Index">
                                <p>Department</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Designation" asp-action="Index">
                                <p>Designation</p>
                            </a>
                        </li>                               
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="RelatiolShip" asp-action="Index">
                                <p>Relationship</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AttachmentType" asp-action="Index">
                                 <p>Attachment Type</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Training" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p>Traning</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Company" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Company</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Branch" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Branch</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Project" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Project</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Leave" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Leave</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AwardType" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Award Type</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Award" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Award</p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Deduction" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Deduction </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LeaveApplication" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Leave Application </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdvanceType" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Advance Type </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Advance" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Advance </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="EmploymentHistory" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Employment History </p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" asp-controller="Nominee" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Nominee  </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reference" asp-action="Index">
                        <i class="fas fa-user-tie nav-icon"></i>
                        <p> Reference </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
