@model Tactsoft.Core.Entities.Attandance

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Update Attachment Information</h3>
                </div>
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />


                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row mb-2">
                                    <label asp-for="EmployeeId" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId">
                                            <option value="">Select Employee</option>
                                        </select>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="AttandanceDate" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="AttandanceDate" class="form-control" />
                                        <span asp-validation-for="AttandanceDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Present" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Present" class="form-control" />
                                        <span asp-validation-for="Present" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label asp-for="Remarks" class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <input asp-for="Remarks" class="form-control" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div style="text-align:end">
                                        <a class="btn btn-outline-danger btn-sm" asp-action="Index">
                                            <i class="far fa-window-close"></i> Cancel
                                        </a>
                                        <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                                            <i class="fa-solid fa-rotate"></i> Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }